@import "utility";

.about-wrap{
  padding-top: 13rem;
  .about-inner{
    @include flexCenter;
    .about-right{
      @include relativeZero;
      &-top{
        @include relativeZero;
        margin-bottom: 3rem;
        .canvas-wrap{
          position: absolute;
          left: 50%;
          top: -125%;
          width: 19rem;
          height: 13rem;
          transform: translateX(-50%)
        }
        .about-promise{
          @include relativeZero;
          word-break: keep-all;
          line-height: 1.75;
          font-size: 1.3rem;
          font-weight: 400;
          text-align: center;
        }
      }
      &-middle{
        display: flex;
        align-items: baseline;
        justify-content: center;
        margin-bottom: 1.8rem;
        .about-name-ko{
          font-size: 1.313rem;
          font-weight: 600;
          margin-right: 0.9rem;
        }
        .about-name-en{
          font-size: 0.75 rem;
          font-weight: 300;
        }
      }
      &-bottom{
        text-align: center;
        .more-infos{
          width: 65%;
          margin: 0 auto;
          .personal-info{
            @include flexBetween;
            width: 100%;
            font-size: 1.1rem;
            margin-bottom: 0.625rem;
            &-title{
              width: 25%;
              font-weight: 600;
              text-align: left;
            }
            &-text{
              min-width: 60%;
              font-weight: 300;
              text-align: left;
              line-height: 1.2;
            }
            .lsp-four{
              letter-spacing: 0.05rem;
            }
            .lsp-three{
              letter-spacing: 0.5rem;
            }
            .lsp-two{
              letter-spacing: 1.99rem;
            }
          }
        }
      }
    }
  }
}