@charset 'utf-8';

@mixin colors($normal-color,$base-color,$second-color,$point-color){
  background: $base-color;
  .nav-wrap{
    .nav-logo{
      > a{
        color: $normal-color;
      }
    }
    .nav-list{
      li{
        .nav-btn{
          color: $normal-color;
        }
        .nav-btn-on{
          color: $point-color;
        }
      }
    }
  }
  .intro-wrap{
    .intro-back-rect{
      background: $second-color;
    }
    .intro-back-text{
      -webkit-text-stroke: 0.5px $normal-color;
      -webkit-text-fill-color: transparent;  
    }
    .intro-inner{
      .intro-contents{
        .intro-slogan{
          color: $point-color;
        }
        .intro-buttons{
          .intro-pf-link{
            color: $base-color;
            background: $normal-color;
            &:hover{
              color: $normal-color;
              border: 1px solid $normal-color;
              &::before{
                width: 100%;
                background:$base-color;
              }
              .intro-pf-icon{
                fill: $point-color;
              }
            }
            
            .intro-pf-icon{
              fill: $base-color;
            }
          }
        }
        .intro-photo{
          &-back{
            background: $base-color ;
          }
          &-line{
            border: 1px solid $point-color;
          }
        }
      }
      .intro-bottom{
        .colorTheme-here{
          color: $normal-color;
          opacity: 0.7;
        }
      }
    }
  }
  .about-wrap{
    .about-inner{
      .about-promise{
        color: $normal-color;
      }
      .about-name-ko,
      .about-name-en,
      .personal-title,
      .personal-info{
        color: $normal-color;
      }
    }
  }
  .abilities-wrap{
    .abibox-title{
      .abibox-title-back{
        color: $second-color;
        transition: all .3s;
        &:hover{
          -webkit-text-stroke: 1px $point-color;
          -webkit-text-fill-color: transparent;          
        }
      }
      .abibox-icon-list{
        li{
          svg{
            fill:$normal-color;
          }
        }
      }
    }
    .abibox-content{
      margin-top: 1.563rem;
      &-info{
        .abibox-content-program{
          color: $normal-color;
        }
      }
    }
  }
  .works-wrap{
    .works-back-text{
      color: $second-color;
    }
    .work-slide{
      box-shadow: 0px 0px 24px 5px $second-color;
      .slide-blur-box{
        .work-slide-img-blur{
          background: $second-color;
        }
      }
      .work-numbering{
        color: $normal-color;
      }
      .work-slide-go{
        &-link{
          box-shadow:0px 0px 10px -1px $point-color;
          background: $base-color;
          svg, p{
            color: $normal-color;
          }
        }
      }
    }
    .work-content{
      .work-titles{
        .work-title{
          color: $normal-color;
        }
        .work-icons{
          svg{
            fill: $normal-color;
          }
        }
      }
      .work-desc{
        color: $normal-color;
        &-line{
          background: $second-color;
        }
      }
    }
    .swiper-pagination{
      color: $second-color;
    }
  }
  .footer-wrap{
    background: $second-color;
    .footer-sign{
      color: $base-color;
    }
    .footer-box{
      &-title{
        color: $normal-color;
      }
      &-text{
        color: $normal-color;
      }
    }
  }
}

.deepGreen{
  @include colors(#5D633F,#F9F8F6,#F1EEEB,#E17858);
}
.beigeNblue{
  @include colors(#255B8A,#F3F0DF,#EBE7CF,#DB874B);
}
.pinkNgold{
  @include colors(#414141,#FFF4F2,#FFE1E3,#DFB669);
}
