.pinkNgold{
  $normal-color: #F1BCAE;
  $base-color:#FFF4F2;
  $second-color:#FFE1E3;
  $point-color: #DFB669;

  background: $base-color;

  .nav-wrap{
    .nav-logo{
      > a{
        color: $normal-color;
      }
    }
    .nav-list{
      li{
        .nav-btn{
          color: $normal-color;
        }
        .nav-btn-on{
          color: $point-color;
        }
      }
    }
  }

  .intro-wrap{
    .intro-back-rect{
      background: $second-color;
    }
    .intro-inner{
      .intro-back-text{
        -webkit-text-stroke: 1px $normal-color;
        -webkit-text-fill-color: transparent;  
      }
      .intro-contents{
        .intro-slogan{
          color: $point-color;
        }
        .intro-photo{
          &-line{
            border: 1px solid $point-color;
            .linklist-btn{
              color: $normal-color;
            }
          }
        }
      }
    }
  }

  .abilities-wrap{
    .abibox-title{
      .abibox-title-back{
        color: $second-color;
        transition: all .3s;
        &:hover{
          -webkit-text-stroke: 1px $point-color;
          -webkit-text-fill-color: transparent;          
        }
      }
      .abibox-icon-list{
        li{
          svg{
            fill:$point-color;
          }
        }
      }
    }
    .abibox-content{
      margin-top: 1.563rem;
      &-info{
        .abibox-content-program{
          color: $normal-color;
        }
      }
    }
  }

  .works-wrap{
    .works-back-text{
      -webkit-text-stroke: 1px $normal-color;
      -webkit-text-fill-color: transparent;
    }
    .work-content{
      .work-titles{
        .work-title{
          color: $normal-color;
        }
        .work-icons{
          svg{
            fill: $normal-color;
          }
        }
      }
      .work-desc{
        color: $normal-color;
      }
    }
  }
  
  .footer-wrap{
    background: $second-color;
    .footer-sign{
      color: $point-color;
    }
    .footer-box{
      &-title{
        color: $normal-color;
      }
      &-text{
        color: $normal-color;
      }
    }
  }
}

.beigeNblue{
  $normal-color: #255B8A;
  $base-color:#F3F0DF;
  $second-color:#EBE7CF;
  $point-color: #E17858;

  background: $base-color;

  .nav-wrap{
    .nav-logo{
      > a{
        color: $normal-color;
      }
    }
    .nav-list{
      li{
        .nav-btn{
          color: $normal-color;
        }
        .nav-btn-on{
          color: $point-color;
        }
      }
    }
  }
  .intro-wrap{
    .intro-back-rect{
      background: $second-color;
    }
    .intro-inner{
      .intro-back-text{
        -webkit-text-stroke: 1px $normal-color;
        -webkit-text-fill-color: transparent;  
      }
      .intro-contents{
        .intro-slogan{
          color: $normal-color;
        }
        .intro-photo{
          &-line{
            border: 1px solid $point-color;
            .linklist-btn{
              color: $normal-color;
            }
          }
        }
      }
    }
  }
  .abilities-wrap{
    .abibox-title{
      .abibox-title-back{
        color: $second-color;
        transition: all .3s;
        &:hover{
          -webkit-text-stroke: 1px $point-color;
          -webkit-text-fill-color: transparent;          
        }
      }
      .abibox-icon-list{
        li{
          svg{
            fill:$normal-color;
          }
        }
      }
    }
    .abibox-content{
      margin-top: 1.563rem;
      &-info{
        .abibox-content-program{
          color: $normal-color;
        }
      }
    }
  }
  .works-wrap{
    .works-back-text{
      -webkit-text-stroke: 1px $normal-color;
      -webkit-text-fill-color: transparent;
    }
    .work-content{
      .work-titles{
        .work-title{
          color: $normal-color;
        }
        .work-icons{
          svg{
            fill: $normal-color;
          }
        }
      }
      .work-desc{
        color: $normal-color;
      }
    }
  }
  
  .footer-wrap{
    background: $second-color;
    .footer-sign{
      color: $point-color;
    }
    .footer-box{
      &-title{
        color: $normal-color;
      }
      &-text{
        color: $normal-color;
      }
    }
  }
}

.deepGreen{
  $normal-color: #5D633F;
  $base-color:#F9F8F6;
  $second-color:#F1EEEB;
  $point-color: #DB874B;

  background: $base-color;

  .nav-wrap{
    .nav-logo{
      > a{
        color: $normal-color;
      }
    }
    .nav-list{
      li{
        .nav-btn{
          color: $normal-color;
        }
        .nav-btn-on{
          color: $point-color;
        }
      }
    }
  }
  .intro-wrap{
    .intro-back-rect{
      background: $second-color;
    }
    .intro-inner{
      .intro-back-text{
        -webkit-text-stroke: 1px $normal-color;
        -webkit-text-fill-color: transparent;  
      }
      .intro-contents{
        .intro-slogan{
          color: $normal-color;
        }
        .intro-photo{
          &-line{
            border: 1px solid $point-color;
            .linklist-btn{
              color: $normal-color;
            }
          }
        }
      }
    }
  }
  .abilities-wrap{
    .abibox-title{
      .abibox-title-back{
        color: $second-color;
        transition: all .3s;
        &:hover{
          -webkit-text-stroke: 1px $point-color;
          -webkit-text-fill-color: transparent;          
        }
      }
      .abibox-icon-list{
        li{
          svg{
            fill:$normal-color;
          }
        }
      }
    }
    .abibox-content{
      margin-top: 1.563rem;
      &-info{
        .abibox-content-program{
          color: $normal-color;
        }
      }
    }
  }
  .works-wrap{
    .works-back-text{
      -webkit-text-stroke: 1px $normal-color;
      -webkit-text-fill-color: transparent;
    }
    .work-content{
      .work-titles{
        .work-title{
          color: $normal-color;
        }
        .work-icons{
          svg{
            fill: $normal-color;
          }
        }
      }
      .work-desc{
        color: $normal-color;
      }
    }
  }
  
  .footer-wrap{
    background: $second-color;
    .footer-sign{
      color: $point-color;
    }
    .footer-box{
      &-title{
        color: $normal-color;
      }
      &-text{
        color: $normal-color;
      }
    }
  }
}
