@import "utility";

.nav-wrap{
  @include flexBetween;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1440px;
  margin-top: 2%;
  z-index: 999;
  .nav-logo{
    > a{
      font-size: 1.313rem;
      font-weight: 900;
    }
  }
  .nav-list{
    @include flexBetween;
    li{
      margin-right: 1.5rem;
      &:last-child{
        margin-right: 0;
      }
      .nav-btn{
        font-weight: 600;
      }
    }
  }
}