@import "utility";

.intro-wrap{
  @include relativeZero;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .intro-back-rect{
    width: 75%;
    height: 900px;
    position: absolute;
    top: -43%;
    right: 0%;
    transform: rotate(-15deg);
  }
  .intro-inner{
    @include relativeZero;
    height: 100vh;
    .intro-back-text{
      width: 300%;
      position: absolute;
      top: -7%;
      left: 0%;
      font-size: 125px;
      font-weight: 900;
      transform: skewY(-7deg);
      color: transparent;
    }
    .intro-contents{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 95%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .intro-slogan{
      @include relativeZero;
      font-size: 42px;
      line-height: 1.2;
      transform: skewY(-7deg);
      .qmark-l{
        position: absolute;
        top: -10px;
        left: -28px;
      }
      .qmark-r{
        position: absolute;
        bottom: 60px;
        right: -28px;
      }
    }
    .intro-photo{
      @include relativeZero;
      width: 360px;
      height: 480px;
      > div{
        position: absolute;
        width: 100%;
        height: 100%;
      }
      &-back{
        background: #fff;
        top: -20px;
        right: -20px;
      }
      &-ejin{
        top: 0;
        right: 0;
        
        background-size: cover;
      }
      &-line{
        top: 20px;
        right: 20px;
        .line-bottom-linklist{
          position: absolute;
          right: 0;
          bottom: -20px;
          right: 0;
          display: flex;
          li:last-child{
            a{
              margin-right:0;
            }
          }
          .linklist-btn{
            font-size: 15px;
            font-weight: 500;
            margin-right:10px;
          }
        }
      }
    }
    .intro-bottom{
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;
      @include flexCenter;
      // &-linklist{
      //   @include flexBetween;
      //   width: 20%;
      //   padding: 2% 0;
      //   .linklist-btn{
      //     font-size: 15px;
      //     font-weight: 500;
      //   }
      // }
      .colorTheme-btns{
        @include flexBetween;
        .pinkNgold{
          margin-right: 10px;
          color: #DFB669;
          background: #FFF4F2;
        }
        .beigeNblue{
          margin-right: 10px;
          color: #255B8A;
          background: #EBE7CF;
        }
        .deepGreen{
          color: #F9F8F6;
          background: #5D633F;
        }
        .colorTheme-btn{
          display: block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          line-height: 30px;
          text-align: center;
          font-size: 15px;
          font-weight: 700;
        }
      }
    }
  }
}
