@import "utility";

.intro-wrap{
  @include relativeZero;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .intro-back-rect{
    width: 75%;
    height: 56rem;
    position: absolute;
    top: -43%;
    right: 0%;
    transform: rotate(-15deg);
  }
  .intro-inner{
    @include relativeZero;
    height: 100vh;
    .intro-back-text{
      width: 300%;
      position: absolute;
      top: -7%;
      left: 0%;
      font-size: 7.8rem;
      font-weight: 900;
      transform: skewY(-7deg);
      color: transparent;
    }
    .intro-contents{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 95%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .intro-slogan{
      @include relativeZero;
      font-size: 2.6rem;
      line-height: 1.2;
      transform: skewY(-7deg);
      .qmark-l{
        position: absolute;
        top: -0.625rem;
        left: -1.750rem;
      }
      .qmark-r{
        position: absolute;
        bottom: 3.750rem;
        right: -1.750rem;
      }
    }
    .intro-photo{
      @include relativeZero;
      width: 22.5rem;
      height: 30rem;
      > div{
        position: absolute;
        width: 100%;
        height: 100%;
      }
      &-back{
        background: #fff;
        top: -1.250rem;
        right: -1.250rem;
      }
      &-ejin{
        top: 0;
        right: 0;
        background: url('../../public/images/ejin-main.JPG') no-repeat;
        background-size: cover;
      }
      &-line{
        top: 1.250rem;
        right: 1.250rem;
        .line-bottom-linklist{
          position: absolute;
          right: 0;
          bottom: -1.250rem;
          right: 0;
          display: flex;
          li:last-child{
            a{
              margin-right:0;
            }
          }
          .linklist-btn{
            font-size: 0.9rem;
            font-weight: 500;
            margin-right:0.625rem;
          }
        }
      }
    }
    .intro-bottom{
      position: absolute;
      bottom: 1.250rem;
      left: 0;
      width: 100%;
      @include flexCenter;
      .colorTheme-btns{
        @include flexBetween;
        .pinkNgold{
          margin-right: 0.625rem;
          color: #DFB669;
          background: #FFF4F2;
        }
        .beigeNblue{
          margin-right: 0.625rem;
          color: #255B8A;
          background: #EBE7CF;
        }
        .deepGreen{
          color: #F9F8F6;
          background: #5D633F;
        }
        .colorTheme-btn{
          display: block;
          width: 1.875rem;
          height: 1.875rem;
          border-radius: 50%;
          line-height: 1.875rem;
          text-align: center;
          font-size: 0.9rem;
          font-weight: 700;
        }
      }
    }
    .canvas-wrap{
      position: absolute;
      left: 3%;
      bottom: 20%;
      width: 19rem;
      height: 13rem;
    }
  }
}
