@media screen and (max-width:1440px) {
  html,body{
    font-size: 15px !important;
  }

  [class*="-inner"]{
    max-width: 90%;
    margin: 0 auto;
  }
  .nav-wrap{
    width: 90%;
  }

  // abilities
  .abilities-wrap{
    .abilities-inner{
      .abilities-box{
        .abibox-title{
          .abibox-icon-list{
            width: 85%;
          }
        }
        .abibox-content{
          &-info{
            flex-direction: column;
            margin-bottom: 1rem;
            .abibox-content-program{
              width: 100%;
              margin-bottom: 0.5rem;
            }
            .abibox-content-text{
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:768px) {
  html,body{
    font-size: 14px !important;
  }

  // abilities
  .abilities-wrap{
    .abilities-inner{
      flex-direction: column;
      .abilities-box{
        width: 100%;
        margin-bottom: 3rem;
        .abibox-title{
          &-back{
            left: 0;
            bottom: 50%;
            transform: skewY(0deg) translateX(0px);
          }
          .abibox-icon-list{
            width: 100%;
            justify-content: start;
            li{
              margin-right: 0.6rem;
            }
          }
        }
      }
    }
  }
}