@media screen and (max-width:1440px) {
  [class*="-inner"]{
    max-width: 90%;
    margin: 0 auto;
  }
  .nav-wrap{
    width: 90%;
    .nav-list{
      width: 30%;
    }
  }
  .intro-wrap{
    .intro-inner {
      .intro-bottom-linklist{
        width: 28%;
      }
    }
  } 
}