@import "utility";

.works-wrap{
  @include relativeZero;
  margin-top: 15rem;
  padding-bottom: 3rem;
  overflow: hidden;

  .works-container{
    width: 600vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }

  .works-back-text{
    position: absolute;
    top: 3rem;
    left: 0;
    transform: skewY(-7deg);
    width: 100vw;
    font-size: 7.8rem;
    font-weight: 900;
    text-align: center;
  }
  
  .panel {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .work-slide{
      width: 40%;
      padding: 1.2rem;
    }
    .work-slide-img-box{
      @include relativeZero;
      .work-numbering{
        position: absolute;
        top: -2.55rem;
        left: -2rem;
        font-size: 3.2rem;
        font-weight: 900;
        transform: skewY(-7deg);
      }
      .work-slide-img{
        display: block;
        width: 100%;
      }
      .work-slide-go{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        bottom: 0;
        left: 0;
        width:100%;
        height: 0%;
        opacity: 1;
        transition: all .4s;
        overflow: hidden;
        &-link{
          padding: 1rem 1rem;
          text-align: center;
          border-radius: 15px;
          cursor: pointer;
          > svg{
            width: 2.3rem;
            height: 2.3rem;
            margin-bottom: 0.2rem;
          }
          .work-slide-qr-img{
            width: 4.8rem;
            height: 4.8rem;
            margin-bottom: 0.2rem;
          }
          > p{
            font-size: 1rem;
            line-height: 1.2;
          }
        }
      }
      &:hover{
        .work-slide-go{
          height: 100%
        }
      }
    }
    .slide-blur-box{
      @include relativeZero;
      .work-slide-img-blur{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff80;
        backdrop-filter: blur(6px);
      }
      .work-slide-video{
        width: 300px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .work-content{
      margin-top: 1.5rem;
      .work-titles{
        .work-title{
          margin-bottom: 0.5rem;
          font-size: 2rem;
          font-weight: 700;
          word-break: keep-all;
          line-height: 1.125;
          span{
            font-size: 1.5rem;
            font-weight: 600;
          }
        }
        .work-icons{
          svg{
            width: 1.4rem;
            height: 1.4rem;
            margin-left: 0.5rem;
          }
        }
      }
      .work-desc{
        display: flex;
        align-items: normal;
        justify-content: space-between;
        margin-top: 1.8rem;
        &-box{
          max-width: 25%;
          &-title{
            font-size: 1.1rem;
            font-weight: 600;
            margin-bottom: 0.625rem;
          }
          &-text{
            word-break: keep-all;
            line-height: 1.45;
          }
        }
      }
    }
    
  }

}