@import "utility";

.works-wrap{
  @include relativeZero;
  padding-top: 12rem;
  padding-bottom: 3rem;
  overflow: hidden;

  .works-container{
    width: 600vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }

  .works-back-text{
    position: absolute;
    top: 3rem;
    left: 0;
    transform: skewY(-7deg);
    width: 100vw;
    font-size: 7.8rem;
    font-weight: 900;
    text-align: center;
  }
  
  .panel {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .work-slide{
      width: 40%;
      padding: 1.2rem;
    }
    .work-slide-img{
      display: block;
      width: 100%;
      cursor: pointer;
    }
    .slide-blur-box{
      @include relativeZero;
      .work-slide-img-blur{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff80;
        backdrop-filter: blur(6px);
      }
      .work-slide-video{
        width: 300px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      .work-slide-qr{
        position: absolute;
        top: 0.625rem;
        right: 0.625rem;
        width: 3.8rem;
        background-color: #fff;
        padding: 0.625rem;
        border-radius: 0.5rem;
        &-img{
          width: 100%;
        }
        &-text{
          font-size: 0.9rem;
          line-height: 1.25;
          text-align: center;
          word-break: keep-all;
        }
      }
    }
    .work-content{
      margin-top: 1.5rem;
      .work-titles{
        @include flexBetween;
        .work-title{
          font-size: 2rem;
          font-weight: 700;
          word-break: keep-all;
          line-height: 1.125;
        }
        .work-icons{
          svg{
            width: 1.4rem;
            height: 1.4rem;
            margin-left: 0.5rem;
          }
        }
      }
      .work-desc{
        display: flex;
        align-items: normal;
        justify-content: space-between;
        margin-top: 1.8rem;
        &-box{
          max-width: 25%;
          &-title{
            font-size: 1.1rem;
            font-weight: 600;
            margin-bottom: 0.625rem;
          }
          &-text{
            word-break: keep-all;
            line-height: 1.45;
          }
        }
      }
    }
    
  }

}