@media screen and (max-width:1440px) {
  .nav-wrap{
    width: 95%;
    .nav-list{
      width: 30%;
    }
  }
  .intro-wrap{
    .intro-inner {
      width: 95%;
      .intro-bottom-linklist{
        width: 28%;
      }
    }
  } 
}